<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 bg-white mt-5">
      <h4>This is a microverse project</h4>
      <p>to see the project you must <%= link_to 'sign in here', new_user_session_path %> </p>
    </div>
  </div>
</div>