
@import "bootstrap/scss/bootstrap";

body {
  background-color: #e9ebee;
}

.navbar {
  background-color: #4267B2;
}

.profile-header{
  position: relative;
  height: 315px;
  background-image: url('/filename.jpg');
  background-size: cover;
  img {
    bottom: 0;
    margin-bottom: -45px;
    position: absolute;
    border-radius: 50%
  }
  h2 {
    color:white;
    bottom: 10px;
    left: 200px;
    position: absolute;
  }
}

